*.txt filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
/data-source/*.txt filter=lfs diff=lfs merge=lfs -text
/geom/*.shx filter=lfs diff=lfs merge=lfs -text
/geom/*.shp filter=lfs diff=lfs merge=lfs -text
/geom/*.dbf filter=lfs diff=lfs merge=lfs -text
/geom/*.prj filter=lfs diff=lfs merge=lfs -text
